<div class="container">
  <header>
      <section class="logo" routerLinkActive="active" routerLink="main">
        </section>
        <h1>BUDGET CONTROLLER</h1>
  </header>
  <aside>
     <h2>MENU</h2>
     <ul class='list'>
        <li routerLinkActive="active" routerLink="budgets">-Budget-</li>
        <li routerLinkActive="active" routerLink="expences">-Expences-</li>
        <li routerLinkActive="active" routerLink="montlyr">-Montly Statement-</li>  
      </ul>
  </aside>
  <main>
      <router-outlet></router-outlet> 
  </main>
</div>